<img id="article-img-mobile" class="article-img" />
<header>
    <h1 id="title">Article not found</h1>
    <div id="description"></div>
    <div id="date"></div>
</header>
<div id="content">
    <img id="article-img-desktop" class="article-img" />
    <article id="article-body">
    </article>
    <div id="comments">
        <hr />
        <div id="comments-header">
            <img id="comments-img" src="static/img/comments.png">
            <div id="comments-counts">
                <span id="comments-value"></span>&nbsp;Comments
            </div>
            <div id="comments-config">
                Sort: 
                <a href="javascript:void(0)" id="comments-likes" class="comments-sort">Likes</a>&nbsp;|&nbsp;
                <a href="javascript:void(0)" id="comments-newest" class="comments-sort">Newest</a>
            </div>
        </div>
        <hr />
        <div id="comments-section">
        </div>
    </div>
</div>
<div id="more-stories">
    <div id="more-stories-header">More Stories</div>
    <hr />
</div>